<!DOCTYPE html>
<html lang="ru">

<body>
<div class="max-width">
  <div class="container">
    <h2 id="anime-this-season">Аниме этого сезона</h2>
    <div class="border-color">
      <div class="season-container">
        <div class="season">
          <a href="#" id="leftArrow"><img src="left2.svg" id="leftArrow2" alt="стрелка влево"></a>
          <div class="season slider">
            <div class="images-container">
              <% no_anime_in_season = true %>
              <% @animes.each do |anime| %>
                <% if anime.in_current_season? %>
                  <% no_anime_in_season = false %>
                  <div class="image-wrapper" data-shikimori-id="<%= anime.shikimori_id %>">
                    <a href="anime/show/<%=anime.shikimori_id%>"><%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image" %></a>
                    <a href="anime/show/<%=anime.shikimori_id%>"><h5 class="title-anime"><%= anime.title %></h5></a>
                  </div>
                <% end %>
              <% end %>

              <% if no_anime_in_season %>
                <div class="image-wrapper">
                  <h4>Аниме в этом сезоне нету</h4>
                </div>
              <% end %>
            </div>
          </div>
          <a href="#" id="rightArrow"><img src="right2.svg" id="rightArrow2" alt="стрелка вправо"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="latest-updates">
    <h2>Последние обновления аниме</h2>
    <ul>
      <li>
        <img src="anime1.jpg" alt="Anime 1">
        <p>Название аниме 1</p>
      </li>
      <li>
        <img src="anime2.jpg" alt="Anime 2">
        <p>Название аниме 2</p>
      </li>
      <!-- Добавьте дополнительные элементы, если необходимо -->
    </ul>
  </div>


  <div class="row">
    <div class="col-md-8">

      <div class="sidebar2">
        <div class="movie">
          <div class="header-for-anime">
            <h3>Новые аниме на сайте</h3>
          </div>

          <div class="content-item">
            <% no_anime_in_season = true %>
            <div class="item-container">
              <% displayed_animes = 0 %>
              <% @animes.each do |anime| %>
                <% if anime.in_current_season? %>
                  <% no_anime_in_season = false %>
                  <% if displayed_animes < 10 %>
                    <div class="item2">
                      <a href="anime/show/<%=anime.shikimori_id%>" class="item-content">
                        <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image2" %>
                        <div class="description2">

                          <% if anime.dtype == "anime-serial" %>
                            <% anime.dtype = "ТВ-Сериал" %>
                          <% elsif anime.dtype == "anime"%>
                            <% anime.dtype = "Фильм" %>
                          <%end %>

                          <p class="info"><%= anime.title %></p>
                          <p class="info">  <%= anime.date%> | <%= anime.dtype%> | <% anime.genres.each_with_index do |genre, index| %>
                              <%= genre["name"] %><%= index == anime.genres.size - 1 ? '' : ', ' %>
                            <% end if anime.genres.present? %>
                          </p>

                          <p class="info-description">
                            <%= anime.description %>
                          </p>

                        </div>
                      </a>
                    </div>
                    <% displayed_animes += 1 %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% if no_anime_in_season %>
              <div class="image-wrapper">
                <p>Аниме в этом сезоне нету</p>
              </div>
            <% end %>
          </div>
          <a href="anime/index"><button type="button" class="btn btn-secondary" style="margin-left: 363px">Весь список аниме</button></a>

        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="filter-sidebar">
        <h3>Filter Options</h3>
        <div class="filter-checkbox">
          <label>
            <input type="checkbox" name="filter-option" value="option1"> Option 1
          </label>
        </div>
        <div class="filter-checkbox">
          <label>
            <input type="checkbox" name="filter-option" value="option2"> Option 2
          </label>
        </div>
        <!-- Add more checkboxes for additional filter options -->
      </div>
    </div>
    </div>


  </div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
    // Initialize the Slick carousel for anime
    $(document).ready(function () {
        $('.season.slider .images-container').slick({
            slidesToShow: 6,  // Adjust the number of slides to show
            slidesToScroll: 1,
            prevArrow: $('#leftArrow'),
            nextArrow: $('#rightArrow'),
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1  // Adjust the number of slides to show on smaller screens
                    }
                }
            ]
        });
    });

</script>

</body>
</html>