<!DOCTYPE html>
<html lang="ru">

<body>
<div class="max-width">
  <div class="container">

                  <% @animes_in_season = @animes.select { |anime| anime.in_current_season? } %>
              <% if @animes_in_season.size < 6 %>
                <% latest_animes = @animes.reject { |anime| anime.in_current_season? }.last(6 - @animes_in_season.size) %>
                <% @animes_in_season.concat(latest_animes) %>
              <% end %>

              <% if @animes_in_season.empty? || @animes_in_season.size <= 6 %>
                <div style="color: white;">
                  <h2 id="anime-this-season_null">Аниме этого сезона пока нет! :(</h2>
                </div>
              <% else %>
                  <h2 id="anime-this-season">Аниме этого сезона</h2>
    <div class="border-color">
      <div class="season-container">
        <div class="season">
          <a id="leftArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
          </a>
          <div class="season slider">
            <div class="images-container">
                <% @animes_in_season.each do |anime| %>
                  <%if anime.shikimori_id.present?%>
                    <div class="image-wrapper" data-shikimori-id="<%= anime.shikimori_id %>">
                      <a href="<%=anime_link_path(anime.shikimori_id)%>" onclick="reloadClickedPage(event, this)" >
                        <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", 
                          alt: 'Название фильма', 
                          class: 'current-image', 
                          onerror: "this.onerror=null; this.src='https://shikimori.one/assets/globals/missing_original.jpg';" %>
                        <%= anime.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1').length > 15 ? "#{anime.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1')[0..14]}..." : anime.title.gsub(/\s*\[ТВ-(\d+)\]/, ' \1').gsub(/\s*\[ТВ\]/, '') %>
                      </a>
                    </div>
                  <% end %>
                <% end %>
            </div>

          </div>
          <a id="rightArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="latest-updates">
    <h2>Последние обновления аниме</h2>
    <ul class="columns">
      <% displayed_animes = 0 %>
      <% @animes.sort_by(&:updated_at).reverse_each do |anime| %>
        <% if displayed_animes < 8 %>
          <li class="anime-item">
            <div>
              <a href="<%= anime_link_path(anime.shikimori_id)%>" onclick="reloadClickedPage(event, this)">
                <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", 
                    alt: 'Название фильма', 
                    onerror: "this.onerror=null; this.src='https://shikimori.one/assets/globals/missing_original.jpg';" %>
                <p><%= anime.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1').length > 23 ? "#{anime.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1')[0..22]}..." : anime.title.gsub(/\s*\[ТВ-(\d+)\]/, ' \1').gsub(/\s*\[ТВ\]/, '') %></p>
              </a>
              
              <p style="font-size: 12px; color: #ffffff;">
                <% if anime.updated_at.to_date == Date.today %>
                  Обновлено: Сегодня в <%= anime.updated_at.strftime('%H:%M') %>
                <% elsif anime.updated_at.to_date == Date.yesterday %>
                  Обновлено: Вчера в <%= anime.updated_at.strftime('%H:%M') %>
                <% else %>
                  Обновлено: <%= anime.updated_at.strftime('%d %b, %Y %H:%M') %>
                <% end %>
              </p>
              
              <p>Эпизод: <%= anime.last_episode %></p>

              <% displayed_animes += 1 %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<div class="block">
  <div class="row">
    <div class="col-md-8">

      <div class="sidebar2">
        <div class="movie">
          <div class="header-for-anime">
            <h3>Новые аниме на сайте</h3>
          </div>

          <div class="content-item">
            <% no_anime_in_season = true %>
            <div class="item-container">
              <% displayed_animes = 0 %>
              <% @animes.each do |anime| %>

                <% if anime.in_current_season? %>
                  <% no_anime_in_season = false %>
                  <% if displayed_animes < 10 %>
                    <div class="item2">
                      <a href="anime/show/<%=anime.shikimori_id%>" onclick="reloadClickedPage(event, this)" class="item-content">

                        <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", 
                           alt: 'Название фильма', 
                           class: 'current-image2', 
                           onerror: "this.closest('.item2').style.display='none';" %>

                        <div class="description2">

                          <% if anime.dtype == "anime-serial" %>
                            <% anime.dtype = "ТВ-Сериал" %>
                          <% elsif anime.dtype == "anime"%>
                            <% anime.dtype = "Фильм" %>
                          <% end %>

                          <h5 class="info2"><%= anime.title.gsub(/\s*\[ТВ-(\d+)\]/, ' \1').gsub(/\s*\[ТВ\]/, '') %></h5>
                          <p class="info">  <%= anime.date%> | <%= anime.dtype%> | <% anime.genres.each_with_index do |genre, index| %>
                              <%= genre %><%= index == anime.genres.size - 1 ? '' : ', ' %>
                            <% end if anime.genres.present? %>
                          </p>

                          <p class="info-description">
                            <% if anime.description.present? %>
                                  <%= anime.description.gsub(/\[character=\d+\]/, '').gsub(/\[\/character\]/, '').gsub(/\[i\]/, '').gsub(/\[\/i\]/, '') %>
                            <% else%>
                              Описание отсутсвует :(
                            <%end %>
                          </p>

                        </div>
                      </a>
                    </div>
                    <% displayed_animes += 1 %>
                  <% end %>
                <% end %>
              <% end %>

              <% if displayed_animes < 10 && no_anime_in_season %>
                <% last_animes = @animes.reject { |anime| anime.in_current_season? }.last(10 - displayed_animes) %>
                <% last_animes.each do |anime| %>
                  <div class="item2">
                    <a href="anime/show/<%=anime.shikimori_id%>" onclick="reloadClickedPage(event, this)" class="item-content">
                        <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", 
                          alt: 'Название фильма', 
                          class: 'current-image2', 
                          onerror: "this.onerror=null; this.src='https://shikimori.one/assets/globals/missing_original.jpg';" %>
                          
                      <div class="description2">

                        <% if anime.dtype == "anime-serial" %>
                          <% anime.dtype = "ТВ-Сериал" %>
                        <% elsif anime.dtype == "anime"%>
                          <% anime.dtype = "Фильм" %>
                        <% end %>

                        <h5 class="info2"><%= anime.title.gsub(/\s*\[ТВ-(\d+)\]/, ' \1').gsub(/\s*\[ТВ\]/, '') %></h5>
                        <p class="info">  <%= anime.date%> | <%= anime.dtype%> | <% anime.genres.each_with_index do |genre, index| %>
                            <%= genre %><%= index == anime.genres.size - 1 ? '' : ', ' %>
                          <% end if anime.genres.present? %>
                        </p>

                        <p class="info-description">
                          <% if anime.description.present? %>
                            <%= anime.description.gsub(/\[character=\d+\]/, '').gsub(/\[\/character\]/, '').gsub(/\[anime=\d+\]/, '').gsub(/\[\/anime\]/, '').gsub(/\[i\]/, '').gsub(/\[\/i\]/, '') %>
                          <% else%>
                            Описание отсутсвует :(
                          <%end %>
                        </p>

                      </div>
                    </a>
                  </div>
                  <% displayed_animes += 1 %>
                <% end %>
              <% end %>
            </div>

            <% if no_anime_in_season && displayed_animes == 0 %>
              <div class="image-wrapper">
                <p>Аниме в этом сезоне нету</p>
              </div>
            <% end %>
          </div>

          <a href="<%=anime_index_path%> " onclick="reloadClickedPage(event, this)" id="button-list"><button type="button" class="btn btn-secondary">Весь список аниме</button></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="filter-sidebar">
        <div class="filter-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-filter-right" viewBox="0 0 16 16">
            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
          </svg>
          <h3 style="font-size: 20px;">Фильтр</h3>
        </div>

<%= form_with url: search_search_results_path, method: :get, local: true, id: "animeSearchForm" do %>
  <div class="range-slider-container">
    <label>Выберите год выпуска</label>
    <p class="small-text-filter">Укажите пустое поле, если не желаете искать по году</p>
    <div class="slider-inputs">
      <!-- Поле для ввода года (числовое) -->
      <input type="number" name="date" id="selectedYear" min="1959" max="2024" onchange="syncSlider(this.value)">
      <p style="display: inline; font-size: smaller;">1959</p>
      <p style="display: inline; margin-left: 212px; font-size: smaller;">2024</p>
      <!-- Слайдер -->
      <input type="range" class="form-range" id="customRange1" min="1959" max="2024" oninput="syncYearInput(this.value)">
    </div>
  </div>

  <!-- Пример отдельной кнопки danger -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:250px;">
    Кнопка выпадающего списка
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:250px;">
    <li><label class="dropdown-item active"><input type="checkbox" style="margin-right: 10px;"> Действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Другое действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Что-то еще здесь</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Отделенная ссылка</label></li>
  </ul>
</div>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Жанры
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px; max-height: 300px; overflow-y: auto;">
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="боевик" class="genre-checkbox" style="margin-right: 10px;"> Боевик
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="боевые искусства" class="genre-checkbox" style="margin-right: 10px;"> Боевые искусства
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="взрослая жизнь" class="genre-checkbox" style="margin-right: 10px;"> Взрослая жизнь
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="военное" class="genre-checkbox" style="margin-right: 10px;"> Военное
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="гарем" class="genre-checkbox" style="margin-right: 10px;"> Гарем
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="демоны" class="genre-checkbox" style="margin-right: 10px;"> Демоны
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="детектив" class="genre-checkbox" style="margin-right: 10px;"> Детектив
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="дзёсей" class="genre-checkbox" style="margin-right: 10px;"> Дзёсей
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="драма" class="genre-checkbox" style="margin-right: 10px;"> Драма
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="исторический" class="genre-checkbox" style="margin-right: 10px;"> Исторический
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="игры" class="genre-checkbox" style="margin-right: 10px;"> Игры
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="комедия" class="genre-checkbox" style="margin-right: 10px;"> Комедия
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="космос" class="genre-checkbox" style="margin-right: 10px;"> Космос
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="криминал" class="genre-checkbox" style="margin-right: 10px;"> Криминал
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="магия" class="genre-checkbox" style="margin-right: 10px;"> Магия
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="машины" class="genre-checkbox" style="margin-right: 10px;"> Машины
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="мелодрама" class="genre-checkbox" style="margin-right: 10px;"> Мелодрама
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="меха" class="genre-checkbox" style="margin-right: 10px;"> Меха
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="мистика" class="genre-checkbox" style="margin-right: 10px;"> Мистика
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="музыка" class="genre-checkbox" style="margin-right: 10px;"> Музыка
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="научная фантастика" class="genre-checkbox" style="margin-right: 10px;"> Научная фантастика
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="пародия" class="genre-checkbox" style="margin-right: 10px;"> Пародия
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="повседневность" class="genre-checkbox" style="margin-right: 10px;"> Повседневность
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="полиция" class="genre-checkbox" style="margin-right: 10px;"> Полиция
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="приключения" class="genre-checkbox" style="margin-right: 10px;"> Приключения
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="психология" class="genre-checkbox" style="margin-right: 10px;"> Психология
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="романтика" class="genre-checkbox" style="margin-right: 10px;"> Романтика
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="самураи" class="genre-checkbox" style="margin-right: 10px;"> Самураи
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="сверхъестественное" class="genre-checkbox" style="margin-right: 10px;"> Сверхъестественное
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="сёдзё" class="genre-checkbox" style="margin-right: 10px;"> Сёдзё
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="сёдзё-ай" class="genre-checkbox" style="margin-right: 10px;"> Сёдзё-ай
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="сёнен" class="genre-checkbox" style="margin-right: 10px;"> Сёнен
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="сёнен-ай" class="genre-checkbox" style="margin-right: 10px;"> Сёнен-ай
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="спорт" class="genre-checkbox" style="margin-right: 10px;"> Спорт
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="триллер" class="genre-checkbox" style="margin-right: 10px;"> Триллер
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="ужасы" class="genre-checkbox" style="margin-right: 10px;"> Ужасы
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="фантастика" class="genre-checkbox" style="margin-right: 10px;"> Фантастика
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="фэнтези" class="genre-checkbox" style="margin-right: 10px;"> Фэнтези
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="экшен" class="genre-checkbox" style="margin-right: 10px;"> Экшен
      </label>
    </li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Статус
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px; max-height: 300px; overflow-y: auto;">
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="ongoing" class="status-checkbox" style="margin-right: 10px;"> Онгоинг
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="released" class="status-checkbox" style="margin-right: 10px;"> Вышел
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="anons" class="status-checkbox" style="margin-right: 10px;"> Анонсирован
      </label>
    </li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Тип
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px; max-height: 300px; overflow-y: auto;">
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="anime-serial" class="type-checkbox" style="margin-right: 10px;"> Аниме Сериал
      </label>
    </li>
    <li>
      <label class="dropdown-item">
        <input type="checkbox" value="anime" class="type-checkbox" style="margin-right: 10px;"> Аниме Фильм
      </label>
    </li>
  </ul>
</div>

  <%= hidden_field_tag :genres, params[:genres], id: "selectedGenres" %>

  <%= hidden_field_tag :status, params[:status], id: "selectedStatus" %>

  <%= hidden_field_tag :dtype, params[:dtype], id: "selectedType" %>

  <%= text_field_tag :rating_mpaa, params[:rating_mpaa], placeholder: 'Возраст' %>

  <!-- Поле для текстового поиска -->
  <%= text_field_tag :query, params[:query], class: "search-input", id: "searchInput" %>

  <%= submit_tag 'Поиск', class: "btn btn-primary" %>
<% end %>



<script>
document.addEventListener("DOMContentLoaded", function() {
  const searchForm = document.getElementById("animeSearchForm");
  const searchInput = document.getElementById("searchInput");
  const selectedYear = document.getElementById("selectedYear");
  const customRange = document.getElementById("customRange1");
  const yearQueryField = document.getElementById("yearQueryField");

  // Синхронизация значений между слайдером и числовым полем
  window.syncYearInput = function(value) {
    selectedYear.value = value;
    yearQueryField.value = value; // Обновляем скрытое поле year
  };

  window.syncSlider = function(value) {
    customRange.value = value;
    yearQueryField.value = value; // Обновляем скрытое поле year
  };

  // Отправка формы только при нажатии Enter
  searchForm.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      searchForm.submit(); // Отправка формы при нажатии Enter
    }
  });
});

document.addEventListener("DOMContentLoaded", function() {
  const genreCheckboxes = document.querySelectorAll(".genre-checkbox");
  const selectedGenresField = document.getElementById("selectedGenres");

  genreCheckboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      const selectedGenres = Array.from(genreCheckboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.value);

      // Разделяем жанры запятыми, а не пробелами
      selectedGenresField.value = selectedGenres.join(','); // Обновляем скрытое поле
    });
  });
});

document.addEventListener("DOMContentLoaded", function() {
  const statusCheckboxes = document.querySelectorAll(".status-checkbox");
  const selectedStatusField = document.getElementById("selectedStatus");

  statusCheckboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      const selectedStatus = Array.from(statusCheckboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.value);

      selectedStatusField.value = selectedStatus.join(','); // Обновляем скрытое поле
    });
  });
});

document.addEventListener("DOMContentLoaded", function() {
  const statusCheckboxes = document.querySelectorAll(".type-checkbox");
  const selectedTypeField = document.getElementById("selectedType");

  statusCheckboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      const selectedTypes = Array.from(statusCheckboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.value);

      selectedTypeField.value = selectedTypes.join(','); // Обновляем скрытое поле
    });
  });
});


</script>

        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Статус ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Жанры
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px;">
    <li><label class="dropdown-item active"><input type="checkbox" style="margin-right: 10px;"> приключения</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> спорт</label></li>

  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Статус
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px;">
       <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Что-то еще здесь</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Отделенная ссылка</label></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle dropdown-button " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Тип
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px;">
    <li><label class="dropdown-item active"><input type="checkbox" style="margin-right: 10px;"> Действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Другое действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Что-то еще здесь</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Отделенная ссылка</label></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn dropdown-toggle dropdown-button " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
    Возрастное ограничение
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="width:276px;">
    <li><label class="dropdown-item active"><input type="checkbox" style="margin-right: 10px;"> Действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Другое действие</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Что-то еще здесь</label></li>
    <li><label class="dropdown-item"><input type="checkbox" style="margin-right: 10px;"> Отделенная ссылка</label></li>
  </ul>
</div>

        <div class="filter-dropdown btn-filter">
           <button type="button" class="btn btn-secondary btn-filter-width">Найти</button>
        </div>

      </div>
    </div>

    </div>
</div>

  </div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
    if (!sessionStorage.getItem('pageRefreshed')) {
        sessionStorage.setItem('pageRefreshed', 'true');
        location.reload();
    }


    function initSlickCarousel() {
        var slidesToShowCount = 6; // По умолчанию отображается 6 слайдов

        // Проверяем разрешение экрана при загрузке страницы
        if (window.matchMedia("(max-width: 1399px)").matches) {
            slidesToShowCount = 5; // Если ширина экрана меньше 1400px, отображаем 5 слайдов
        }

        $('.season.slider .images-container').slick({
            slidesToShow: slidesToShowCount,
            slidesToScroll: 1,
            prevArrow: $('#leftArrow'),
            nextArrow: $('#rightArrow'),
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        // Следим за изменением размеров окна и пересчитываем количество слайдов при необходимости
        $(window).resize(function() {
            if (window.matchMedia("(max-width: 1399px)").matches) {
                $('.season.slider .images-container').slick('slickSetOption', 'slidesToShow', 5);
            } else {
                $('.season.slider .images-container').slick('slickSetOption', 'slidesToShow', 6);
            }
        });
    }


    // Вызываем функцию для инициализации Slick carousel при загрузке страницы
    $(document).ready(function () {
        initSlickCarousel();
    });

    // Вызываем функцию для инициализации Slick carousel после каждой навигации на странице
    $(window).on('popstate', function () {
        initSlickCarousel();
    });


    $(document).ready(function() {
        $('.dropdown-button').click(function() {
            $(this).siblings('.dropdown-content').toggle();
        });
    });

    function updateSlider(value) {
        document.getElementById('selectedYear').value = value;
    }

    function updateYear(value) {
        var currentYear = new Date().getFullYear();
        if (value >= 1959 && value <= currentYear) {
            document.getElementById('customRange1').value = value;
        }
    }
</script>

</body>
</html>