<!DOCTYPE html>
<html lang="ru">

<body>
<div class="max-width">
  <div class="container">
    <h2 id="anime-this-season">Аниме этого сезона</h2>
    <div class="border-color">
      <div class="season-container">
        <div class="season">
          <a id="leftArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
          </a>
          <div class="season slider">
            <div class="images-container">
              <% no_anime_in_season = true %>
              <% @animes.each do |anime| %>
                <% if anime.in_current_season? %>
                  <% no_anime_in_season = false %>
                  <div class="image-wrapper" data-shikimori-id="<%= anime.shikimori_id %>">
                    <a href="<%=anime_link_path(anime.shikimori_id)%>" onclick="reloadClickedPage(event, this)" >
                      <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image" %>
                      <%= anime.title.length > 15 ? "#{anime.title[0..14]}..." : anime.title %>
                    </a>
                  </div>
                <% end %>
              <% end %>

              <% if no_anime_in_season %>
                <div class="image-wrapper">
                  <h4>Аниме в этом сезоне нету</h4>
                </div>
              <% end %>
            </div>
          </div>
          <a id="rightArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="yandex_rtb_R-A-5944326-3"></div>
  <script>
      window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
              "blockId": "R-A-5944326-3",
              "renderTo": "yandex_rtb_R-A-5944326-3"
          })
      })
  </script>

  <div class="latest-updates">
    <h2>Последние обновления аниме</h2>
    <ul class="columns">
      <% displayed_animes = 0 %>
      <% @animes.sort_by(&:updated_at).reverse_each do |anime| %>
        <% if displayed_animes < 8 %>
          <li class="anime-item">
            <div>
              <a href="<%= anime_link_path(anime.shikimori_id)%>" onclick="reloadClickedPage(event, this)">
                <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма" %>
                <p><%= anime.title.length > 23 ? "#{anime.title[0..22]}..." : anime.title %></p>
              </a>
              <p style="font-size: 12px; color: #ffffff;">
                <% if anime.updated_at.to_date == Date.today %>
                  Обновлено: Cегодня в <%= l anime.updated_at, format: :time %>
                <% elsif anime.updated_at.to_date == Date.yesterday %>
                  Вчера в <%= anime.updated_at.strftime('%H:%M') %>
                <% else %>
                  Обновлено: <%= l anime.updated_at, format: :short %>
                <% end %>
              </p>
              <p>Эпизод: <%= anime.last_episode %></p>

              <% displayed_animes += 1 %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<div class="block">
  <div class="row">
    <div class="col-md-8">

      <div class="sidebar2">
        <div class="movie">
          <div class="header-for-anime">
            <h3>Новые аниме на сайте</h3>
          </div>

          <div class="content-item">
            <% no_anime_in_season = true %>
            <div class="item-container">
              <% displayed_animes = 0 %>
              <% @animes.each do |anime| %>
                <% if anime.in_current_season? %>
                  <% no_anime_in_season = false %>
                  <% if displayed_animes < 10 %>
                    <div class="item2">
                      <a href="anime/show/<%=anime.shikimori_id%>" onclick="reloadClickedPage(event, this)" class="item-content">
                        <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image2" %>
                        <div class="description2">

                          <% if anime.dtype == "anime-serial" %>
                            <% anime.dtype = "ТВ-Сериал" %>
                          <% elsif anime.dtype == "anime"%>
                            <% anime.dtype = "Фильм" %>
                          <% end %>

                          <h5 class="info2"><%= anime.title %></h5>
                          <p class="info">  <%= anime.date%> | <%= anime.dtype%> | <% anime.genres.each_with_index do |genre, index| %>
                              <%= genre["russian"] %><%= index == anime.genres.size - 1 ? '' : ', ' %>
                            <% end if anime.genres.present? %>
                          </p>

                          <p class="info-description">
                            <% if anime.description.present? %>
                              <%= anime.description.gsub(/\[character=\d+\]/, '').gsub(/\[\/character\]/, '') %>
                            <% else%>
                              Описание отсутсвует :(
                            <%end %>
                          </p>

                        </div>
                      </a>
                    </div>
                    <% displayed_animes += 1 %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% if no_anime_in_season %>
              <div class="image-wrapper">
                <p>Аниме в этом сезоне нету</p>
              </div>
            <% end %>
          </div>
          <a href="<%=anime_index_path%>" id="button-list"><button type="button" class="btn btn-secondary">Весь список аниме</button></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="filter-sidebar">
        <div class="filter-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-filter-right" viewBox="0 0 16 16">
            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
          </svg>
          <h3 style="font-size: 20px;">Фильтр</h3>
        </div>

        <div class="range-slider-container">
          <label>Выберите год выпуска</label>
          <p class="small-text-filter">Укажите пустое поле если не желвете искать по году</p>
          <div class="slider-inputs">
            <input type="number" id="selectedYear" min="1959" max="2024" onchange="updateYear(this.value)">
            <p style="display: inline; font-size: smaller;">1959</p>
            <p style="display: inline; margin-left: 212px; font-size: smaller;">2024</p>

            <input type="range" class="form-range" id="customRange1" min="1959" max="2024" oninput="updateSlider(this.value)">
          </div>
        </div>

        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Жанры ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>


        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Статус ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>

        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Тип ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>

        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Озвучка ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>

        <div class="filter-dropdown">
          <div class="dropdown-button" style="font-size: 16px;">Возрастное ограничение ▼</div>
          <div class="dropdown-content">
            <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
            <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
            <!-- Добавьте другие опции по мере необходимости -->
          </div>
        </div>

        <div class="filter-dropdown btn-filter">
           <button type="button" class="btn btn-secondary btn-filter-width">Найти</button>
        </div>

      </div>
    </div>

    </div>
</div>

  </div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
    if (!sessionStorage.getItem('pageRefreshed')) {
        sessionStorage.setItem('pageRefreshed', 'true');
        location.reload();
    }


    function initSlickCarousel() {
        var slidesToShowCount = 6; // По умолчанию отображается 6 слайдов

        // Проверяем разрешение экрана при загрузке страницы
        if (window.matchMedia("(max-width: 1399px)").matches) {
            slidesToShowCount = 5; // Если ширина экрана меньше 1400px, отображаем 5 слайдов
        }

        $('.season.slider .images-container').slick({
            slidesToShow: slidesToShowCount,
            slidesToScroll: 1,
            prevArrow: $('#leftArrow'),
            nextArrow: $('#rightArrow'),
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        // Следим за изменением размеров окна и пересчитываем количество слайдов при необходимости
        $(window).resize(function() {
            if (window.matchMedia("(max-width: 1399px)").matches) {
                $('.season.slider .images-container').slick('slickSetOption', 'slidesToShow', 5);
            } else {
                $('.season.slider .images-container').slick('slickSetOption', 'slidesToShow', 6);
            }
        });
    }


    // Вызываем функцию для инициализации Slick carousel при загрузке страницы
    $(document).ready(function () {
        initSlickCarousel();
    });

    // Вызываем функцию для инициализации Slick carousel после каждой навигации на странице
    $(window).on('popstate', function () {
        initSlickCarousel();
    });


    $(document).ready(function() {
        $('.dropdown-button').click(function() {
            $(this).siblings('.dropdown-content').toggle();
        });
    });

    function updateSlider(value) {
        document.getElementById('selectedYear').value = value;
    }

    function updateYear(value) {
        var currentYear = new Date().getFullYear();
        if (value >= 1959 && value <= currentYear) {
            document.getElementById('customRange1').value = value;
        }
    }
</script>

</body>
</html>