<div class="container">
  <div class="info-anime">
  <div class="row">
      <div class="col-3">
        <%= image_tag "https://shikimori.one/system/animes/original/#{@anime_id.shikimori_id}.jpg",
                      class: "poster-anime" %>

        <a href="#scroll">
          <button type="button" class="btn btn-secondary btn-play">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-play-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
            </svg>
            Смотреть онлайн
          </button>
        </a>

        <button type="button" class="btn btn-light btn-description">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
          Написать коментарий
        </button>
      </div>

      <div class="col-9">

        <div class="info-column">

          <div class="name">
            <h1><%=@anime_id.title%></h1>
          </div>

          <% if @anime_id.dtype == "anime-serial" %>
            <% @anime_id.dtype = "ТВ-Сериал" %>
          <% elsif @anime_id.dtype == "anime"%>
            <% @anime_id.dtype = "Фильм" %>
          <% end %>

          <p>Вышел: <%= @anime_id.created_at.strftime("%d.%m.%Y") %></p>
          <p>Тип: <%=@anime_id.dtype%></p>
          <p>Последний эпизод: <%=@anime_id.last_episode%></p>
          <p>Жанр: <% @anime_id.genres.each_with_index do |genre, index| %>
              <%= genre["russian"] %><%= index == @anime_id.genres.size - 1 ? '' : ', ' %>
              <% end if @anime_id.genres.present? %>
          </p>

          <% if @anime_id.status == "ongoing" %>
            <% @anime_id.status = "Онгоинг" %>
          <% elsif @anime_id.status == "released"%>
            <% @anime_id.status = "Вышел" %>
          <% end %>

          <p>Статус: <%= @anime_id.status%></p>

          <p>Рейтинг MPAA: <%= @anime_id.rating_mpaa%></p>
          <p>Продолжительность серии: <%= @anime_id.duration%> - мин</p>
          <% next_episode_time = DateTime.parse(@anime_id.next_episode_at) if @anime_id.next_episode_at.present? %>
          <p>Выход следующей серии: <%= next_episode_time.strftime("%d.%m.%Y") if next_episode_time.present? %></p>
        </div>
      </div>

    <div class="description-anime">
      <% if @anime_id.description.present? %>
        <p><%= @anime_id.description.gsub(/\[character=\d+\]/, '').gsub(/\[\/character\]/, '') %></p>
      <%else %>
        <p>Описание отсутсвует :(</p>
      <% end %>
    </div>

        <div class="col-9">

          <div class="screenshots-anime" style="">
            <h2>Кадры</h2>
            <p>
              <% if @anime_id.videos.present? %>
                <% @anime_id.screenshots.take(3).each do |screenshot| %>
                  <a href="<%= screenshot %>" data-toggle="modal" data-target="#imageModal">
                    <%= image_tag screenshot, class: "screenshots-anime-img" %>
                  </a>
                <% end %>
              <% else %>
                <% @anime_id.screenshots.take(4).each do |screenshot| %>
                  <a href="<%= screenshot %>" data-toggle="modal" data-target="#imageModal">
                    <%= image_tag screenshot, class: "screenshots-anime-img" %>
                  </a>
                <% end %>
              <% end %>
            </p>
          </div>
                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 60vw; max-height: 60vh;">
                        <div class="modal-content" style="background-color: #4f5d75;">
                          <div class="modal-header">
                            <a style="position: absolute; top: 2px; right: 10px;" id="closeModalBtn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            </a>

                          </div>
                          <div class="modal-body">
                            <img src="" id="modalImage" class="img-fluid" alt="Увеличенное изображение" style="max-width: 100%; max-height: 100%;">
                          </div>
                        </div>
                      </div>ы
                    </div>
        </div>

        <div class="col-3">

        <div class="trailer-video">
          <% if @anime_id.videos.present? %>
            <h2 class="trailer-video-name">Трейлер</h2>
            <% @anime_id.videos.take(1).each do |video| %>
              <% player_url_https = video["player_url"].sub("http://", "https://") %>
              <iframe class="trailer-video" width="300" height="150" src="<%= player_url_https %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          <% end %>
        </div>

        </div>



    <div class="trip2"></div>

    <div id="scroll" class="video-wrapper">
      <iframe  class="video" src="//kodik.cc/find-player?title=<%= @anime_id.title %>&year=<%= @anime_id.date %>&kinopoiskID=<%= @anime_id.kinopoisk_id %>&imdbID=<%= @anime_id.imdb_id %>&worldartLink=<%= @anime_id.worldart_link %>&shikimoriID=<%= @anime_id.shikimori_id %>&notBlockedForMe=true&types=anime,anime-serial&season=&episode=1&poster=https://shikimori.one/system/animes/original/<%= @anime_id.shikimori_id %>.jpg&start_from=0" width="1220px" height="700px" frameborder="0" allowfullscreen allow="autoplay *; fullscreen *"></iframe>
    </div>

    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        // Обработчик события для отображения изображения в модальном окне при нажатии на ссылку
        $(document).on('click', '[data-toggle="modal"][data-target="#imageModal"]', function (event) {
            event.preventDefault(); // Предотвращаем действие по умолчанию
            var image = $(this).find('img').attr('src'); // Получаем путь к изображению
            $('#modalImage').attr('src', image); // Устанавливаем изображение в модальном окне
            $('#imageModal').modal('show'); // Отображаем модальное окно
        });

        // Обработчик события для закрытия модального окна при нажатии на кнопку закрытия
        $('#closeModalBtn').click(function() {
            $('#imageModal').modal('hide'); // Скрыть модальное окно
        });

        // Обработчик события для закрытия модального окна при нажатии на фон
        $('#imageModal').on('click', function(event) {
            if ($(event.target).is('#imageModal')) {
                $('#imageModal').modal('hide'); // Скрыть модальное окно
            }
        });

        // Обработчик события для закрытия модального окна при нажатии на клавишу Esc
        $(document).on('keydown', function(event) {
            if (event.keyCode === 27) { // Код клавиши Esc
                $('#imageModal').modal('hide'); // Скрыть модальное окно
            }
        });

        // Обработчик события для закрытия модального окна при его скрытии
        $('#imageModal').on('hidden.bs.modal', function (event) {
            $('#modalImage').attr('src', ''); // Очистить src изображения при закрытии модального окна
        });
    });

</script>