<div id="kodik-player"></div>

<script>
    var kodikAddPlayers = {
        title: "<%= @anime_id.title %>",
        year: "<%= @anime_id.date %>",
        shikimoriID: "<%= @anime_id.shikimori_id %>",
        notBlockedForMe: true,
        types: "<%= @anime_id.dtype %>",
        season: "1",
        episode: "1",
        poster: "https://shikimori.one/system/animes/original/<%= @anime_id.shikimori_id %>.jpg",
        start_from: "0"
    };

    !function(e,n,t,r,a){r=e.createElement(n),a=e.getElementsByTagName(n)
        [0],r.async=!0,r.src=t,a.parentNode.insertBefore(r,a)}
    (document,"script","//kodik-add.com/add-players.min.js");

</script>

